.contacts-section {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    width: 231px;
    margin-right: 0;
    text-align: left;
    margin-bottom: 0;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.address-list {
  margin-top: 20px;
}

.address {
  font-style: normal;
  line-height: 1.714;
  color: $secondary-text-color;
}

.footer-contacts {
  font-style: normal;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}
