.logo {
  margin-right: 85px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &-item {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 24px;
    letter-spacing: 0.03em;
  }
}
